
.main-listing-card {
    text-decoration: none;
    color: #fff;
}

.main-listing-card:hover {
    color: #ff5400;
}

.listing-card {
    width: 100%;
    height: 200px;
}

.listing-card-img {
    width: 100%;
    height: 88%;
}

.listing-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}